<a href="https://colab.research.google.com/github/Mim-Mou/Mim-Mou/blob/main/Mim_19%20_Dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [6]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [7]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
x = "John"
# is the same as
x = 'John'

In [9]:
a = 4
A = "Sally"
#A will not overwrite a

In [10]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [13]:
x = "Python is awesome"
print(x)

Python is awesome

In [14]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [15]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [16]:
x = 5
y = 10
print(x + y)

15

In [17]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
x = 5
y = "John"
print(x, y)

5 John

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [20]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome